apiVersion: appconnect.ibm.com/v1beta1
kind: IntegrationServer
metadata:
  name: {{NAME}}
  namespace: {{NAMESPACE}}
spec:
  license:
    accept: true
    license: {{ACE_LICENSE}}
    use: CloudPakForIntegrationNonProduction
  pod:
    containers:
      runtime:
        resources:
          limits:
            cpu: 300m
            memory: 350Mi
          requests:
            cpu: 300m
            memory: 300Mi
  adminServerSecure: true
  enableMetrics: true
  createDashboardUsers: true
  barURL: http://{{ARTIFACTORY_HOST}}:{{ARTIFACTORY_PORT}}/service/rest/v1/search/assets/download?repository={{ARTIFACTORY_REPO}}&group={{ARTIFACTORY_GROUP}}&name={{ARTIFACTORY_BAR_NAME}}&version={{ARTIFACTORY_VERSION}}&maven.extension=bar
  configurations: [ bar-auth-config {{CONFIGURATION_LIST}} ]
  router:
    timeout: 120s
  designerFlowsOperationMode: enabled
  service:
    endpointType: http
  version: '{{ACE_VERSION}}'
  replicas: {{REPLICAS}}
  logFormat: basic
